// Einfache Variablen müssen offenbar vor dem Import gesetzt werden...
$body-font-family: "Open Sans", Arial, Helvetica, sans-serif;
$heading-font-family: $body-font-family;

@import '~vuetify/src/styles/styles.sass';

$grid-breakpoints: map-merge($grid-breakpoints, (
    'xs': 0,
    'sm': 600px,
    'md': 960px,
    'lg': 1280px - 16px,
    'xl': 3840px - 16px  // 4k Bildschirme
));

$container-max-widths: map-deep-merge(
    $container-max-widths,
  (
    'md': map-get($grid-breakpoints, 'md') * 0.9375,
    'lg': map-get($grid-breakpoints, 'lg') * 0.9375,
    'xl': map-get($grid-breakpoints, 'xl') * 0.5      // 4k Bildschirme
  )
);

$material-light: map-merge($material-light, ( background: #F5F5F5 ));